@import "reset.css";

html {
    background-color:black;
    padding: 0%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}

.menu {
    width: 5%;
    position: fixed;
    left: 2%;
    top: 30%;
    font-size: .8em;
}

a {
    padding-top: 10px;
}

h1 {
    text-align: center;
    margin-top: 3%;
    


}

p {
    padding-left: 2%;

}