@import "reset.css";

html {
    background: rgba(0, 0, 0, 0);
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 12px;
    
}


.clear {
    clear: both;
}

body {
    width: 100%;    
}

nav {
    width: none;
    height: auto;
    overflow: hidden;
    position: fixed;
    top: 5%;
    left: 5%;
    float: left;
    display: inline-block;
    

}

nav li {
    text-align: center;
}

nav li a {
/*    text-transform: lowercase;*/
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"sans-serif;
    font-size: 1.2em;
	position: relative;
    float: left;
    display: block;
    color: black;
    margin-left: 3px;
/*    margin-right: 3px;*/
    text-align: center;
    overflow: hidden;
    padding: 10px 10px;
    text-decoration: none;
    
}

nav li a:hover {
    font-size: 1.3em;
    transition-duration: .2s;
}

nav li a:nth-child(1) {
    font-style: none;
}

div {
    margin: 5% 0;
}


section {
    text-align: center;
    margin: 6% 30%;
    padding-bottom: 75%;
    color: black;
    line-height: 1.3em;
    
}

section h1 {
    font-size: 30px;
    padding-top: 2em;
}

section h2 {
    padding-top: 2em;
}



div {
    padding-top: 2em;
}

/*#img1 {display: block;}*/
#img2 {display: none;}

div img {
	max-width: 20%;
	display: block;
	margin: auto;
    transition: transform 1s ease-in-out;
}

div img:hover {
    transform: scale(1.2);
    
}

aside {
    align-content: center;
}

section img {
    width: 100%;
    height: auto;
    padding-top: 2em;
    position: relative;
}


footer {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: .8em;
    color: white;
    
}

/*

/======Subscribe ========/
*/

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    box-sizing: border-box;
}

button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.subscribe {
    align-content: center;
    width: 50%;
}

.last img {
    padding-bottom: 3em;
    
}


@media screen and (max-width: 550px) {

    html {
    }
    
    nav {
        display: ;
    }
    
    
    nav li a {
        font-size: 1em;
        margin-left: 3px;
        margin-right: 3px;
        padding: 3px 4px;
        
    }
    
    nav li a:hover {
        font-size: 1em;
    }
    
    section {
        margin: 6% 6%;
    }
    
    section h2, article p {
    font-size: 0.95em;
    }
    
    #img1 {display: none;
    width: 100%;}
    #img2 {display: block;
    width: 100.3%;}
    
    
    footer p {
        font-size: 0.5em;
        position: absolute;
        bottom: 1em;
    }
}